<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OceanGuard Analytics</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<header>
    <h1>OceanGuard Analytics</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/observations">Observations</a></li>
        </ul>
    </nav>
</header>
<main>
    <section id="content">
        <!-- Conteúdo dinâmico será inserido aqui -->
    </section>
</main>
<footer>
    <p>&copy; 2024 Equipe NEXUS</p>
</footer>
<script src="../static/js/script.js"></script>
</body>
</html>
